<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header text-center">
       <h4>TARIFF</h4>
        </div>
        <ul class="list-unstyled components">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item text-center">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                   <span><i class="material-icons">{{menuItem.icon}}</i></span> &nbsp;
                    {{menuItem.title}}
                </a>
            </li>
        </ul>
    </nav>
    <div id="content">        
        <router-outlet></router-outlet>
    </div>
</div> 

