.card-header {
  background: #fd8a02;
}

.card {
  height: 400px;
}

.table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.text-warning {
  color: #fd8a02 !important;
}

.td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}
