<div class="container-fluid">
    <div class="card">
        <h5 class="card-header text-center mb-3 text-white">Tariff Information</h5>
        <div class="card-body">
<div class="row offset-md-1">
  <div class="col">
    <form [formGroup]="productForm" class="row g-3" novalidate (ngSubmit)="fetchTarrif()">
      <div class="col-auto">
        <input type="text" class="form-control-lg" pattern="^[0-9]*$" placeholder="consumption (kWh/yr)" formControlName="consumption" required><br/>
        <span class="span text-danger text-center" *ngIf="invalid && productForm.controls['consumption'].errors?.required">Consumption is required</span>
        <span class="span text-danger" *ngIf="invalid && productForm.controls['consumption'].errors?.pattern">only numbers allowed</span>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Get Tariff</button>
      </div>
    </form>
  </div>
  <div *ngIf="isloading" class="col table-responsive">
    <table style="width: 100%;"  class="mt-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class=" table table-striped">
      <thead class="text-warning">
          <tr>
            <th>Tariff Name</th>
            <th>Annual Costs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.cost}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>